.Weather {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 0.2rem;
  background: rgba(0,0,0,0.8);
  border: 1px solid #ECF0F1;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Weather__error {
  margin: 1rem;
}

.Weather__desc {
  margin: 1rem;
}

.Weather__info > * {
  height: auto;
}

.Weather__temp {
  font-size: 2rem;
}

.Weather__feels-like {
  font-size: 1rem;
}
