html, body, #root {
  height: 100%;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ECF0F1;
  transition: all 0.4s;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.App.default {
  background-color: #3f3f3f;
}

.App.error {
  background-color: tomato;
}
.App.clear {
  background-color: #09A8FA;
}
.App.clouds.day {
  background-color: #D3E0E2;
}
.App.thunderstorm {
  background-color: #2C3E50;
}
.App.drizzle {
  background-color: #99B0C2;
}
.App.rain {
  background-color: #78BBE6;
}
.App.snow {
  background-color: #539DDB;
}
.App.atmosphere {
  background-color: #C6E5F3;
}
.App.extreme {
  background-color: #911F27;
}

.App.night {
  background-color: #141314;
}

a {
  color: #FD6378;
}

button {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  background-color: #FD6378;
  color: white;
}

input, button {
  padding: 0 12px;
  line-height: 45px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon > svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: currentColor;
}

button .icon {
  line-height: 100%;
  vertical-align: middle;
  font-size: 2em;
}

.error {
  background: red;
  color: white;
}

.hide-sm {
  display: none;
}

@media (min-width: 500px) {
  .hide-sm {
    display: initial;
  }
}

* {
  box-sizing: border-box;
}