.toggle {
  position: relative;
  z-index: 6;
  font-size: 1em;
}

.switch {
  display: flex;
  align-items: center;
  width: 100px;
  height: 45px;
  text-align: center;
  
  transition: all 0.2s ease;
  text-align: center;
}

.switch__label {
  cursor: pointer;
  color: #8c8a8a;
  width: 50px;
  line-height: 45px;
  transition: all 0.2s ease;
  background: rgba(0,0,0,0.25);
}

.switch__label.active {
  color: white;
}

.toggle__input {
  display: none;
}

.switch__active-bg {
  content: '';
  background-color: #FD6378;
  width: 50%;
  height: 100%; 
  position: absolute;
  z-index: -1;
  transition: all 0.2s ease;
  top: 0;
}

.switch__active-bg.left {
  left: 0;
}

.switch__active-bg.right {
  left: 50%;
}